.theme-default-content {
  font-weight 300
}

.sidebar {
  background-color #0174C7
  color white
}

a.sidebar-link {
  color white !important
}

p.sidebar-heading, .sidebar-heading {
  color white !important
}

a.sidebar-link:hover {
  color white !important
}
